*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.mainPage{
    display: grid;
    grid-template-columns: 1fr [gifs] 35% [gife forms] 35% [forme] 1fr;
    grid-template-rows: 1fr [areas] 70% [areae] 1fr;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.leftSide img{
    width: 100%;
    height: 80%;
    border-radius: 25px;
}
.rightSide{
    grid-row: areas/areae;
    grid-column: forms/forme;
}

.leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: areas/areae;
    grid-column: gifs/gife;
}

.loginCard{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.loginCard img{
    width: 200px;
    height: 200px;
    margin-left: 170px;
    border: 2px solid #4d4d4d;
    border-radius: 50%;
    animation: mymove 3s;
    animation-iteration-count: infinite;
}
  
@keyframes mymove {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.buttonsMain{
    width: 100%;
    height: 20%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBtn{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid silver;
    transition: 0.2s all;
}

.registerBtn{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2 all;
}

.loginBtn:hover, .registerBtn:hover{
    color: white;
    cursor: pointer;
    background: #eb2d36;
}

.loginCard button, .registerCard button{
    margin-top: 20px;
}

.registerCard{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.menuSign{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 1800px;
    margin-top: 30px;
    background: url('./menu.png');
    background-size: cover;
    background-repeat: none;
    opacity: 0.2;
    transition: 0.2s all;
}

.menuSign:hover{
    opacity: 1;
    cursor: pointer;
}

.sidebarDeep{
    display:block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: gray;
    opacity: 0.3;
    z-index: 2;
}

.sidebar{
    display: absolute;
    position: fixed;
    width: 250px;
    height: 100vh;
    background: white;
    transition: 0.2s;
    z-index: 2;
}

.sidebar .profile{
    width: 100%;
    height: auto;
}

.sidebar .profile .profileImage{
    width: 100%;
    height: auto;
}

.sidebar .profile .profileImage img{
    width: 100px;
    height: 100px;
    border: 1px solid silver;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 20px;
}
.sidebar .profile .teacher{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
}

.sidebar .profile .name{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.sidebar hr{
    width: 80%;
    margin: 0 auto;
    margin: 20px;
}

.sidebar .sideBarMenu{
    width: 100%;
    height: auto;
    text-align: center;
}

.sidebar .sideBarMenu .sideElement{
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    transition: 0.2s all;
    text-decoration: none;
    color: black;
}

.sidebar .sideBarMenu .sideElement:hover{
    color: silver;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .logo{
    width: 100%;
    text-align: center;
    margin-top: 350px
}

.sidebar .logo img{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
}

.sidebar .logo img:hover{
    transform: rotate(360deg);
}

.sidebar .footer{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.charts{
    width: 500px;
    height: 500px;
    float: left;
    margin: 100px;
}

.classes{
    width: 250px;
    height: 150px;
    margin: 50px;
    background: cornflowerblue;
    color: white;
    border-radius: 5px;
    float: left;
}

.classes .class-name{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
}

.classes .studentNumber{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fillForm{
    margin: 20px;
    position: fixed;
    z-index: 2;
}

.openMenu{
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 1px solid silver;
    border-radius: 50%;
    transition: 0.2s all;
    left: 95.5%;
    top: 10px;
    background: white;
}

.openMenu img{
    width: 30px;
    height: 30px;
}

.openMenu:hover{
    opacity: 0.9;
    cursor: pointer;
}

.dashboard{ 
    display: block;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

.classList{
    display: block;
    position: relative;
    width: 95%;
    height: 930px;
    margin-top: 20px;
    margin-left: 2.5%;
    border-radius: 5px;
    z-index: 0;
    background: #ededed;
    box-shadow: 2px 3px 5px 0px;
    overflow-y: auto;
}

.classroom{
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid silver;
    border-radius: 5px;
    text-transform: uppercase;
    background: white;
    margin: 10px;
}

.classroom:hover{
    cursor: pointer;
    background: #ededed;
}

hr{
    width: 80%;
    margin: 0 auto;
}

.classroomName{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 59%;
    font-size: 18px;
    color: black;
}

.studentsNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    font-size: 12px;
    color: gray;
}

.loading{
  width: 100%;
  height: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ededed;
}

.classMain{
  display: block;
  position: absolute;
}

.limiter {
  display:block;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.back{
  display: block;
  position: fixed;
  z-index:1;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
  background: #ededed;
}

.container-table100 {
 display: flex;
 position: fixed;
 z-index:1;
 left: 20%;
 top: 10%;
}

.wrap-table100 {
  width: 960px;
  border-radius: 10px;
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #ffffff;
  background: #6c7ae0;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 0px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.row .cell:nth-child(1) {
  width: 360px;
  padding-left: 40px;
}

.row .cell:nth-child(2) {
  width: 160px;
}

.row .cell:nth-child(3) {
  width: 250px;
}

.row .cell:nth-child(4) {
  width: 190px;
}


.table, .row {
  width: 100% !important;
}

.row:hover {
  background-color: #ececff;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }
  
  .row .cell {
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .row, .cell {
    width: 100% !important;
  }
}

.closeStudentList{
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.2 all;
  z-index: 2;
  left: 76%;
  top: 9%;
}

.closeStudentList img{
  width: 100%;
  height: 100%;
}

.closeStudentList:hover{
  cursor: pointer;
  opacity: 0.9;
}
